.postdetail {
    margin: 25px 35px 25px 35px;
}

.header{
    display: flex;
    flex-direction: column;
    border-bottom:1px solid #d9d9d9
}


.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 34px;
}

.content{
    margin: 25px 2px 25px 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-top: 20px;
    color:#404040
}

.fenge{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px
}
.commitList{
    margin: 20px 20px 20px 20px;
    //background-color: aqua;
    padding-bottom: 100px
}
.commitbody{
    margin: 5px 5px 5px 5px ;
    flex-direction: row;
    justify-content: start;
    margin-top: 10px;
    border-bottom:1px solid #f5f3f3;
}
.commit{
    font-family: 'Courier New', Courier, monospace;
    font-size: 29px;
    margin-left: 60px
}

.replyUser{
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px
}
.replyBody{
    margin-left: 30px;
    background-color: #faf9f9;
    //height: 50px;
}
.reply{
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px
}

.seeMore{
    font-family: 'Courier New', Courier, monospace;
    font-size:25px;
    color: #3a68ff
}

.username{
    font-family: 'Courier New', Courier, monospace;
    font-size:29px;
    font-weight: 500;
    margin-left: 10px
}

.commitheader{
    display: flex;
    flex-direction: column
}

.commitheadertop{
    display: flex;
    flex-direction: row;
    //justify-content: center;
    align-items: center
}

.touxiang{
    height: 60px;
    width: 60px;
    border-radius: 10px
}
.replyBtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.replyBtnIcon{
    width: 40px;
    height: 40px;
}
.time{
    font-size: 23px;
    margin-left: 10px
}
.seeMoreBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}