.container {
    margin: 0px 5px 5px 5px;
}

.picker{
    margin-left: 35px;
    font-size: 28px;
    border-top: 1px solid #e5e5e5;
    height: 80px;
    display: flex;
    justify-content:  flex-start;
    align-items: center
}

.itemText {
    border-width: 2px
}


.page-section-title {
    text-align: center;
    font-size: 32px;
    background-color: #ecebeb
}