
@import "~taro-ui/dist/style/components/float-layout.scss"; // 引入所需的组件样式 - 方式三

.container {
    margin: 10 10 10 10;
    position: absolute;
   
}

.page-body {
    margin-bottom: 50px
}

.footer {
    font-size: 32px;
    width:750px;
    z-index:999;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
}
// .score {
//     font-size: 28px;
//     color: #eeeeee; 
//     height:50px;
//     background-color: rgb(194, 194, 194);
//     width: 70%;
//     text-align: center
//   }

  .details {
    font-size: 28px;
    color: #eeeeee; 
    width: 100%;
    display: flex;
    justify-content:space-around
  } 

      .seemore {

      }